@model Product


@{
    var forma = ViewBag.Forma as IEnumerable<SelectListItem>;
    var classlist = ViewBag.classlist as IEnumerable<SelectListItem>;
    var subjectlist = ViewBag.subjectlist as IEnumerable<SelectListItem>;

}

<div class="card shadow border-0 my-4">
    <div class="card-header  ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-bg-light py-2">Create Product</h2>
            </div>
        </div>
        <div class="card-body p-4">

            <form method="post" class="row">

                <div class="border p-3 mt-4">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-floating py-2 col-12">
                        <label asp-for="Title" class="p-2"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-4 col-12">
                        <label asp-for="CategoryId" class="form-label mt-4 p-2"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.categorylist">
                            <option value="">Please Choose your Category</option>
                        </select>

                        <span asp-validation-for="ClassId" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <label asp-for="ImageURL" class="p-2"></label>
                        <input asp-for="ImageURL" class="form-control" />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>

                    </div>
                    <div class="form-floating py-2 col-12">
                        <label asp-for="PageNumber" class="p-2"></label>
                        <input asp-for="PageNumber" class="form-control" />
                        <span asp-validation-for="PageNumber" class="text-danger"></span>

                    </div>
                    <div class="form-floating py-4 col-12">
                        <label asp-for="SubjectId" class="form-label mt-4 p-2"></label>
                        <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.subjectlist">
                            <option value="">Please Choose your SubjectId</option>
                        </select>

                        <span asp-validation-for="ClassId" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-4 col-12">
                        <label asp-for="ClassId" class="form-label mt-4 p-2"></label>
                        <select asp-for="ClassId" class="form-control"  asp-items="ViewBag.classlist">
                            <option value="">Please Choose your ClassId</option>
                        </select>

                        <span asp-validation-for="ClassId" class="text-danger"></span>

                    </div>

                   
                    <div class="form-floating py-2 col-12">
                        <label asp-for="SubjectLanguageId" class="p-2"></label>
                        <select asp-for="SubjectLanguageId" class="form-control">
                            <option value="">Please Choose your Language</option>
                            @foreach (var language in Enum.GetValues(typeof(SubjectLanguage)))
                            {
                                <option value="@language.ToString()">@language.ToString()</option>
                            }
                        </select>

                        <span asp-validation-for="SubjectLanguageId" class="text-danger"></span>

                    </div>
                 


                    <div class="form-floating py-2 col-12">
                        <label asp-for="SubjectTypeId" class="p-2"></label>
                        <select asp-for="SubjectTypeId" class="form-control">
                            <option value="">Please Choose your Language</option>
                            @foreach (var language in Enum.GetValues(typeof(SubjectType)))
                            {
                                <option value="@language.ToString()">@language.ToString()</option>
                            }
                        </select>

                        <span asp-validation-for="SubjectTypeId" class="text-danger"></span>

                    </div>
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary" style="width:150px">Create</button>

                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>

                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}