@model JobTicket

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-header bg-primary text-white py-3">
                    <h2 class="text-center mb-0">Create Job Ticket</h2>
                </div>
                <div class="card-body">
                    <form method="post">

                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" id="name" class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                       

                        <div class="mb-3">
                            <label for="printTarget" class="form-label">Print Target</label>
                            <input type="number" id="printTarget" class="form-control" asp-for="PrintTarget" />
                            <span asp-validation-for="PrintTarget" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a asp-controller="Forma" asp-action="Index" class="btn btn-secondary">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
