@model P2M

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow border-0">
                <div class="card-header bg-primary text-white py-3">
                    <h2 class="text-center mb-0">Create P2M </h2>
                </div>
                <div class="card-body">
                    <form method="post" class="row">

                        <div class="form-floating py-4 col-12">
                            <label for="name" class="form-label p-4">Name</label>
                            <input type="text" id="name" class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                         <div class="form-floating py-4 col-6">
                            <label asp-for="JobTicketId" class="form-label p-4"></label>
                            <select asp-for="JobTicketId" class="form-control" asp-items="ViewBag.JobTicket">
                                <option value="">Please Choose your JobTicket</option>
                            </select>

                            <span asp-validation-for="JobTicketId" class="text-danger"></span>
                        </div>


                        <div class="form-floating py-4 col-6">
                            <label asp-for="ProductId" class="form-label p-4"></label>
                            <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Product">
                                <option value="">Please Choose your Product</option>
                            </select>

                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-4 col-6">
                            <label asp-for="ClassId" class="form-label p-4"></label>
                            <select asp-for="ClassId" class="form-control" asp-items="ViewBag.Class">
                                <option value="">Please Choose your Class</option>
                            </select>

                            <span asp-validation-for="ClassId" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-4 col-6">
                            <label for="FormaNumber" class="form-label p-4">FormaNumber</label>
                            <input type="text" id="FormaNumber" class="form-control" asp-for="FormaNumber" />
                            <span asp-validation-for="FormaNumber" class="text-danger"></span>
                        </div>



                        <div class="form-floating py-4 col-6">
                            <label asp-for="PerPokaSize" class="form-label p-4"></label>
                            <select asp-for="PerPokaSize" class="form-control" asp-items="ViewBag.DropdownV">
                                <option value="">Please Choose your PerPokaSize</option>
                            </select>

                            <span asp-validation-for="PerPokaSize" class="text-danger"></span>
                        </div>


                        <div class="form-floating py-4 col-6">
                            <label for="PokaNumber" class="form-label p-4">PokaNumber</label>
                            <input type="text" id="PokaNumber" class="form-control" asp-for="PokaNumber" />
                            <span asp-validation-for="PokaNumber" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-4 col-6">
                            <label for="ProductQuantity" class="form-label p-4">ProductQuantity</label>
                            <input type="text" id="ProductQuantity" class="form-control" asp-for="ProductQuantity" />
                            <span asp-validation-for="ProductQuantity" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-4 col-6">
                            <label for="PiecesQuantity" class="form-label p-4">PiecesQuantity</label>
                            <input type="text" id="PiecesQuantity" class="form-control" asp-for="PiecesQuantity" />
                            <span asp-validation-for="PiecesQuantity" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-4 col-6">
                            <label for="TotalProductQuantity" class="form-label p-4">TotalProductQuantity</label>
                            <input type="text" id="TotalProductQuantity" class="form-control" asp-for="TotalProductQuantity" />
                            <span asp-validation-for="TotalProductQuantity" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-4 col-6">
                            <label asp-for="JobStepId" class="p-4"></label>
                            <select asp-for="JobStepId" class="form-control">
                                <option value="">Please Choose your JobStep</option>
                                @foreach (var Item in Enum.GetValues(typeof(JobStep)))
                                {
                                    <option value="@Item.ToString()">@Item.ToString()</option>
                                }
                            </select>

                            <span asp-validation-for="JobStepId" class="text-danger"></span>

                        </div>

           

                        

                        <div class="form-floating py-4 col-6">
                            <label for="Desc" class="form-label p-4"> Desc</label>
                            <input type="Desc" id="Desc" class="form-control" asp-for="Desc" />
                            <span asp-validation-for="Desc" class="text-danger"></span>
                        </div>
                       

                       

                        <div class="form-floating py-4 col-6">
                            <label for="P2MDate" class="form-label p-4">P2M Date</label>
                            <input type="datetime-local" id="P2MDate" class="form-control" asp-for="P2MDate" />
                            <span asp-validation-for="P2MDate" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-4 col-6">
                            <label for="ReportDate" class="form-label p-4">ReportDate</label>
                            <input type="datetime-local" id="ReportDate" class="form-control" asp-for="ReportDate" />
                            <span asp-validation-for="ReportDate" class="text-danger"></span>
                        </div>
                        
                          
                       

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a asp-controller="P2M" asp-action="Index" class="btn btn-secondary">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize Select2 on the FormaId dropdown

            $('#JobTicketId').change(function () {
                var productId = $(this).val();
                if (productId) {
                    $.ajax({
                        url: '@Url.Action("GetProductByJobTicketId", "P2M")',
                        type: 'GET',
                        data: { productId: productId },
                        success: function (data) {
                            $('#ProductId').val(data.productId);
                            $('#FormaNumber').val(data.noofAssociatedForma);

                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                            $('#ProductId').val('');
                            $('#FormaNumber').val('');

                        }
                    });
                } else {
                    $('#ProductId').val('');
                    $('#FormaNumber').val('');

                }
            });
        });

    </script>


    <partial name="_ValidationScriptsPartial" />
}
